{% include 'layout/header.html' %}
<body>
    {% load static %}
    {% include 'layout/navbar.html' %}

    <div class="container">
        <h1 class="mt-4">Armors</h1>
        <a class="btn btn-success" href="{% url 'game:armors-create' %}" role="button">Add an armor</a>
        
        {% for armor in armors %}
        <div class="my-4">
            <div class="my-2">
                <p><strong>Armor:</strong> {{armor.name}} ({{armor.damage}} defense)</p>
                <img src="{% static 'game/armors/' %}{{armor.icon_path}}" width="30" height="30">
            </div>
        </div>
        <hr/>
        {% endfor %}
    </div>

</body>
</html>